
<div class="page-title">
  <h1>Gallery</h1>
</div>

<div class="search-bar col-5">
  <%= form_with(url: workspaces_path, method: "get") do |f| %>
    <%= f.search_field :query, placeholder: "Search workspaces" %>
    <%= f.button type: "submit", class: "button-search" do %>
      <i class="fa fa-search"></i>
    <% end %>
  <% end %>
</div>

<div class="card-container">
  <% @workspaces.each do |workspace| %>
    <div class="card">
      <%= form_with(url: workspace_path(id: workspace.id), method: "get") do |f| %>
        <%# <% if workspace.photo.attached? %>
          <%# <%= cl_image_tag workspace.photo.key, alt: "A workspace", class: "card-img"%>
        <%# <% else %>
          <% image_tag "white_room_office.jpg", alt: "A Workspace", class: "card-img" %>
        <%# <% end %>
        <h3><%= workspace.title %></h3>
        <p><%= workspace.price_per_day %>$ per day</p>
        <%= link_to "Show Details", workspace_path(workspace), class: "button button-blue card-button"  %>
      <% end %>
    </div>
  <% end %>
</div>
